<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <section class="section1"></section>
    <section class="section2">
      <div class="layer1">
        <div class="son"></div>
      </div>
      <div class="layer2">
        <div class="son"></div>
        <div class="son"></div>
        <div class="son"></div>
        <div class="son"></div>
        <div class="son"></div>
        <div class="son"></div>
        <div class="son"></div>
      </div>
      <div class="layer3">
        <div class="son"></div>
        <div class="son"></div>
        <div class="son"></div>
        <div class="son"></div>
        <div class="son"></div>
        <div class="son"></div>
        <div class="son"></div>
      </div>
      <div class="layer4">
        <div class="son"></div>
        <div class="son" style="height: 50%"></div>
      </div>
    </section>
    <section class="section3"></section>
  </body>
</html>
