<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <div class="upper"></div>
    <div class="lower">
      <div class="main">
        <div class="left">
          <div class="son"></div>
        </div>
        <div class="center">
          <div class="son"></div>
          <div class="son"></div>
          <div class="son"></div>
          <div class="son"></div>
          <div class="son"></div>
          <div class="son"></div>
          <div class="son"></div>
          <div class="son"></div>
        </div>
        <div class="right">
          <div class="son"></div>
          <div class="son"></div>
        </div>
      </div>
      <div class="footer"></div>
    </div>
  </body>
</html>
